<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            background-color: red;
        }

        .container img {

        }

        .container .btn {

        }

        .container .btn:hover {

        }
    </style>
</head>
<body>
    <div class="container">
        <%= image_tag("1.jpg") %>
        <%= link_to 'Admin panel', class: 'btn' %>
    </div>
</body>
</html>

